html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 14px;
  font-size: 1.4em;
}

h1 {
  font-size: 1.8em;
}